REACT_APP_FIREBASE_CONFIG_DEVELOP='{"apiKey":"...","authDomain":"...","databaseURL":"...","projectId":"...","storageBucket":"...","messagingSenderId":"...","appId":"..."}'
REACT_APP_FIREBASE_CONFIG_PRODUCTION='{"apiKey":"...","authDomain":"...","databaseURL":"...","projectId":"...","storageBucket":"...","messagingSenderId":"...","appId":"..."}'
REACT_APP_GA_TRACKING_ID_DEVELOP=G-XXXXXXXXXX
REACT_APP_GA_TRACKING_ID_PRODUCTION=G-XXXXXXXXXX
